html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.AL {
 position: absolute;
 top: 5px;
 bottom: auto;
 left: 80px;
 right: auto;
 width: auto;
 height: 90px;
}

.HomeButton {
 position: absolute;
 top: 35px;
 bottom:auto;
 left: 610px;
 right: auto;
width: auto;                 
 height: 30px;
}

 .CButton {
 position: absolute;
 top: 35px;
 bottom: auto;
 left: 750px;
 right: auto;
width: auto;                 
 height: 30px;
 }


 .PGButton {
 position: absolute;
 top: 35px;
 bottom: auto;
 left: 910px;
 right: auto;
width: auto;                 
 height: 30px;
}