html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.legend {
 position: absolute;
 top: 300px;
 left: 1000px;
 width: 200px;
 height: auto;
}

.Create {
 position: absolute;
 top: 5px;
 bottom: auto;
 left: 150px;
 right: auto;
 width: 200px;
 height: auto;
}

.HomeButton {
 position: absolute;
 top: 8px;
 bottom:auto;
 left: 425px;
 right: auto;
 width: 80px;                 
 height: 80px;}

 .ALButton {
 position: absolute;
 top: 8px;
 bottom: auto;
 left: 565px;
 right: auto;
 width: 250px;                 
 height: 80px;
 }


 .PGButton {
 position: absolute;
 top: 8px;
 bottom: auto;
 left: 850px;
 right: auto;
 width: 300px;                 
 height: 80px;
}

