html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.legend {
 position: absolute;
 top: 330px;
 left: 1030px;
 width: 300px;
 height: auto;
}

.Create {
 position: absolute;
 top: 5px;
 bottom: auto;
 left: 150px;
 right: auto;
 width: 200px;
 height: auto;
}

.HomeButton {
 position: absolute;
 top: 35px;
 bottom:auto;
 left: 450px;
 right: auto;
 width: auto;                 
 height: 30px;}

 .ALButton {
 position: absolute;
 top: 35px;
 bottom: auto;
 left: 610px;
 right: auto;
 width: auto;                 
 height: 30px;
 }


 .PGButton {
 position: absolute;
 top: 35px;
 bottom: auto;
 left: 870px;
 right: auto;
 width: auto;                 
 height: 30px;
}

