html,
body {
  margin: 0;
  padding: 0;

  margin: 0;
  background-image: url('imgs/Background.JPG');
  background-repeat: repeat-y; 
  background-size: 100% auto;  

  margin: 0
  image: url('imgs/paper.png');
  background-repeat: repeat-y; 
  background-size: 100% auto; 

}

canvas {
  display: block;
}
.PG {
 position: absolute;
 top: 5px;
 bottom: auto;
 left: 80px;
 right: auto;
 width: auto;
 height: 90px;
}

.HomeButton {
 position: absolute;
 top: 35px;
 bottom:auto;
 left: 610px;
 right: auto;
width: auto;                 
 height: 30px;}

 .CButton {
 position: absolute;
 top: 35px;
 bottom: auto;
 left: 750px;
 right: auto;
 width: auto;                 
 height: 30px;
 }


 .ALButton {
 position: absolute;
 top: 35px;
 bottom: auto;
 left: 915px;
 right: auto;
width: auto;                 
 height: 30px;
}

#gallery {
  position: absolute;
  top: 120px; 
  left: 20px;
}