html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.PG {
 position: absolute;
 top: 5px;
 bottom: auto;
 left: 80px;
 right: auto;
 width: auto;
 height: 90px;
}

.HomeButton {
 position: absolute;
 top: 8px;
 bottom:auto;
 left: 610px;
 right: auto;
 width: 80px;                 
 height: 80px;}

 .CButton {
 position: absolute;
 top: 8px;
 bottom: auto;
 left: 725px;
 right: auto;
 width: auto;                 
 height: 80px;
 }


 .ALButton {
 position: absolute;
 top: 8px;
 bottom: auto;
 left: 915px;
 right: auto;
 width: auto;                 
 height: 80px;
}

#gallery {
  position: absolute;
  top: 120px; 
  left: 20px;
}