html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.button1 {
  position: absolute;
  width: 200px;                 
  height: 100px;
  top: 41.5%;
  bottom: auto;
  left: 42%;
  right: auto;
}
  .button2 {
  position: absolute;
  width: 400px;                 
  height: 100px;
  top: 60.5%;
  bottom: auto;
  left: 36%;
  right: auto;

}
  .button3 {
  position: absolute;
  width: 400px;                 
  height: 100px;
  top: 81%;
  bottom: auto;
  left: 36%;
  right: auto;
}              
