html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

  .button1 {
  position: absolute;
  width: 200px;                 
  height: 100px;
  top: 340px;
  bottom: auto;
  left: 615px;
  right: auto;
}
  .button2 {
  position: absolute;
  width: 400px;                 
  height: 100px;
  top: 495px;
  bottom: auto;
  left: 525px;
  right: auto;
}
   .button3 {
  position: absolute;
  width: 400px;                 
  height: 100px;
  top: 660px;
  bottom: auto;
  left: 525px;
  right: auto;
  }
